.header {
  background-color: lightgrey;
  height: 150;
  text-align: center;
  padding: 20;
}

.header h1 {
  margin: 0;
  padding-top: 75;
  text-align: center;
  color: black;
  font-size: 3rem;
}

.header-logo {  
  height: 200px;
}

.header-title {
  font-size: 1.5em;
}

.header-intro {
  font-size: large;
}

@keyframes header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
