.barsize {
  font-family: 'Montserrat', sans-serif;
  background: lightgrey;
  height: 60px;
  width: 98%;
  align-content: center
}

.barsize a {
  color: black;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 5%;
  line-height: 3;
}
