.column {
  width: 25%;
  
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.images {
  width: 300px; /* Increase if needed */
}
.images img {
  width: 200px;
  height: 200px;
  margin: 5%;
}









